@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #fafafa;
	font-size: 14px;
}

.wrapper .header{
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.wrapper .header .top,
.wrapper .signup{
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px;
}

.wrapper .header .logo img{
	display: block;
	margin: 0 auto 35px;
}

.wrapper .header .form .input_field{
	margin-bottom: 5px;
}

.wrapper .header .form .input_field .input{
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

.wrapper .header .form .input_field .input:focus{
	border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn{
	margin: 10px 0;
	background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.wrapper .header .form .btn a{
	color: #fff;
	display: block;
}

.wrapper .header .or{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.wrapper .header .or .line{
	width: 105px;
	height: 2px;
	background: #efefef
}

.wrapper .header .or p{
	color: #999;
	font-size: 12px;
}

.wrapper .dif .fb{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .dif .fb img{
	width: 16px;
	height: 16px;
}

.wrapper .dif  .fb p{
	color: #385185;
	font-weight: 500;
	margin-left: 10px;
}

.wrapper .dif .forgot{
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

.wrapper .dif .forgot a{
	color: #003569;
}

.wrapper .signup{
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #262626;
}

.wrapper .signup a{
	color: #3897f0;
}

.wrapper .apps{
	text-align: center;
	color: #262626;
}

.wrapper .apps p{
	margin-bottom: 20px;
}

.wrapper .apps a img{
	width: 135px;
	height: 40px;
	margin: 0 5px;
}

.footer{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.footer .links ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer .links ul li a{
	color: #003569;
	font-size: 12px;
}

.footer .copyright{
	color: #999;	
}






* {
	margin: 0px;
	padding: 0px;
  }
  
  body {
	background-color: #eee;
  }
  
  #wrapper {
	width: 500px;
	height: 50%;
	overflow: hidden;
	border: 0px solid #000;
	margin: 50px auto;
	padding: 10px;
  }
  
  .main-content {
	width: 250px;
	height: 40%;
	margin: 10px auto;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	padding: 40px 50px;
  }
  
  .header {
	border: 0px solid #000;
	margin-bottom: 5px;
  }
  
  .header img {
	height: 50px;
	width: 175px;
	margin: auto;
	position: relative;
	left: 40px;
  }
  
  .input-1,
  .input-2 {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px 12px;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	border-radius: 3px;
  }
  
  .overlap-text {
	position: relative;
  }
  
  .overlap-text a {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #003569;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Overpass Mono', monospace;
	letter-spacing: -1px;
  }
  
  .btn {
	width: 100%;
	background-color: #3897f0;
	border: 1px solid #3897f0;
	padding: 5px 12px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
  }
  
  .sub-content {
	width: 250px;
	height: 40%;
	margin: 10px auto;
	border: 1px solid #e6e6e6;
	padding: 20px 50px;
	background-color: #fff;
  }
  
  .s-part {
	text-align: center;
	font-family: 'Overpass Mono', monospace;
	word-spacing: -3px;
	letter-spacing: -2px;
	font-weight: normal;
  }
  
  .s-part a {
	text-decoration: none;
	cursor: pointer;
	color: #3897f0;
	font-family: 'Overpass Mono', monospace;
	word-spacing: -3px;
	letter-spacing: -2px;
	font-weight: normal;
  }
  
  input:focus {
	  background-color: yellow;
  }
  
  
  
  
  
  
  
  
  
  
  
  /* youtube link */
  .youtube{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 160px;
	text-align: center;
	padding: 15px 10px;
	background: #bb0000;
	border-radius: 5px;
  }
  
  .youtube a{
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
  }